<%= form_for :company, remote: true, html: { id: "join_form", class: "simform", autocomplete: "off" } do |f| %>
  <div class="simform-inner">

    <ol class="questions">
      <li>
        <span><label for="q1">What is the name of your startup? *</label></span>
        <%= f.text_field :name, id: 'q1' %>
      </li>
      <li>
        <span><label for="q2">Tell us a little bit about it (max 250 characters).</label></span>
        <%= f.text_field :description, id: 'q2' %> <!-- TODO text area / styles -->
      </li>
      <li>
        <span><label for="q3">What's your startup's website address?</label></span>
        <%= f.text_field :url, id: 'q3' %>
      </li>
      <li>
        <span><label for="q4">(social media)</label></span>
        <%= f.text_field :facebook, id: 'q4' %>
        <%= f.text_field :twitter, id: 'q4' %>
        <%= f.text_field :instagram, id: 'q4' %>
        <%= f.text_field :linked_in, id: 'q4' %>
      </li>
      <li>
        <span><label for="q5">URL to high resolution (preferably white) logo*</label></span>
        <%= f.text_field :logo_url, id: 'q5' %>
      </li>
      <li>
        <span><label for="q6">Who is the primary person of contact? (Their info will not be published.)</label></span>
        <%= f.text_field :contact_name, id: 'q6' %>
        <%= f.text_field :contact_email, id: 'q6' %>
        <%= f.text_field :contact_phone, id: 'q6' %>
      </li>

      <!-- TODO finish questions -->

      <li>
        <span><label for="q7">...</label></span>
        <%= f.text_field :address_street, id: 'q7' %>
      </li>
    </ol><!-- /questions -->

    <%= f.submit 'Join', class: 'submit' %>
    <!-- <button class="submit" type="submit">Join</button> -->

    <div class="controls">
      <button class="next"></button>

      <div class="progress"></div>

      <span class="number">
        <span class="number-current"></span>
        <span class="number-total"></span>
      </span>

      <span class="error-message"></span>
    </div><!-- / controls -->

  </div><!-- /simform-inner -->

  <span class="final-message"></span>

<% end %>
